doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(name="description", content="Boda de Lorena y Pedro")
    meta(name="author", content="Marco Antonio Pajares Silva")
    link(rel="shortcut icon", href="img/favicon.png")
    title Boda de Lorena y Pedro
    // Bootstrap core CSS
    link(href="css/bootstrap.css", rel="stylesheet")
    // Custom styles for this template
    link(href="http://fonts.googleapis.com/css?family=Dancing+Script:700", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=EB+Garamond", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Raleway:900", rel="stylesheet", type="text/css")
    link(href="css/animate.css", rel="stylesheet")
    link(href="css/font-awesome.min.css", rel="stylesheet")
    link(href="css/colorbox.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="css/responsive.css", rel="stylesheet")
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src="js/html5shiv.js")
      script(src="js/respond.min.js")

    // Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
    link(rel='stylesheet', type='text/css', href='http://assets.cookieconsent.silktide.com/current/style.min.css')
    script(type='text/javascript', src='http://assets.cookieconsent.silktide.com/current/plugin.min.js')


  body(data-spy="scroll", data-target=".navbar-default")

    .alert.alert-info.hidden
      | Su mensaje se ha enviado correctamente.
    // begin:navbar
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.visible-xs(href="#home") Lorena &#38; Pedro
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#home") Inicio
            li
              a(href="#about") Descripción
            li
              a(href="#ceremony") Boda
            li
              a(href="#maps") Mapas
            li
              a(href="#photos") Fotos
            li
              a(href="#story") Historia
            li
              a(href="#contact") Lista de Boda
        // /.navbar-collapse
    // end:navbar
    // begin:home
    section#home(style="background: url(img/FOTO1.jpg);")
      .container
        .row
          .col-md-12
            h1 Lorena &#38; Pedro
            h3
              span el 26 de Septiembre
            // <div class="line"><h3>Are getting</h3></div>
            h2
              i.fa.fa-heart-o
              | ¡SE CASAN!
              i.fa.fa-heart-o
            h4 Y tienen el placer de
            h5
              span ~ Invitarte ~
    // end:home
    // begin:about
    section#about
      .about-inner
        .container
          .row
            .col-md-4
              h2 Lorena
              p
                | Lorena, 25 años,es la mayor de tres hermanas, de ahí que lo de mandar lo lleve innato.Tiene varios dones como que dibuja muy bien, tiene una imaginación genial, es muy detallista, divertida, optimista y le encanta quedar con todo el mundo. A mi personalmente me da mucha envidia lo constante, sencilla y humilde que puede llegar a ser aunque a veces se pasa de chulita. Es una gran enfermera (no sólo técnica si no humanamente hablando) y sus pacientes están felices.
              blockquote
                |  Le encantan los niños y a todos les vuelve medio tarumbas. ¿Cómo no voy a querer casarme con ella?
                small Pedro
            // break
            .col-md-4
              .about-img-container(style="background: url(img/img05.jpg) center;")
              img.about-img.img-responsive(src="img/bottom.png")
            // break
            .col-md-4
              h2 Pedro
              p
                | Pedro, 23 años, pequeño de cinco hermanos y el más zumbado de todos sin duda. Risueño, soñador,entregado a todos, un loco por la automoción y todo aquello ruidoso (motores, cohetes, petardos, música altísima...) El chico más feliz que he conocido nunca. Se sabe cuando llega porque tiene la costumbre de pegar acelerones o ponerse a pitar como loco para que se sepa que está aquí. No para quieto ni para hablar por teléfono y se apunta a un bombardeo.

              blockquote
                |  Sé que jamás podré aburrirme cuando estemos juntos y que gracias a él los días son hasta más soleados en Londres.
                small Lorena
            // break
    // end:about
    // begin:maps
    section#maps.iglesia(style="background-image: url('img/iglesia.jpg');")
      .row
        .col-md-6.col-sm-6
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3038.108595243574!2d-3.3633195!3d40.406445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42463ec10d5fbf%3A0x18fb818bf360a3bb!2sIglesia+Nuestra+Se%C3%B1ora+de+la+Asunci%C3%B3n!5e0!3m2!1ses!2ses!4v1420893943019", width="600", height="400", frameborder="0", style="border:0")
        .col-md-6.col-sm-6.text
          h1 La iglesia
          h4 Iglesia Torres de la Alameda, Plaza del Sol, 28813, Madrid 06.00 PM
    // end:maps
    section#maps.convite(style="background-image: url('img/olivar2.jpg');")
      .row
        .col-md-6.col-sm-6.text
          h1 El convite
          h4 Complejo El Olivar
        .col-md-6.col-sm-6.pull-right
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6067.505137162438!2d-3.3899678!3d40.5028542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd424987d61d3dc7%3A0x729df944b22a8d55!2sComplejo+El+Olivar%2C+Bodas+y+Eventos!5e0!3m2!1ses!2ses!4v1420894142380", width="600", height="400", frameborder="0", style="border:0;float:right;")
    // end:maps
    // begin:ceremony
    section#ceremony(style="background: url(img/FOTO3.JPG);")
      .container
        .row
          .col-md-12
            h1 La ceremonia
            h3
              span Tendrá lugar el dia
            h2 26 de Septiembre
            h5
              span ~ 26/09/2015 ~
            h4 Iglesia Torres de la Alameda, Plaza del Sol, 28813, Madrid 06.00 PM
    // end:ceremony
    // begin:photos
    section#photos
      .container
        .row
          .col-md-4
            img.about-img.img-responsive(src="img/bottom.png")
            h2 Galeria de fotos
            p Aqui se pondrán fotos del enlace y la fiesta posterior
          // break
          .col-md-8
            #wedding-photo.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item
                  .row
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInLeftBig
                      a.gallery-images(href="img/img01.jpg")
                        .photo-gallery(style="background: url(img/FOTO4.JPG);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInDownBig
                      a.gallery-images(href="img/img02.jpg")
                        .photo-gallery(style="background: url(img/FOTO5.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInRightBig
                      a.gallery-images(href="img/img03.jpg")
                        .photo-gallery(style="background: url(img/FOTO6.jpg);")
                .item.active
                  .row
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInRightBig
                      a.gallery-images(href="img/img04.jpg")
                        .photo-gallery(style="background: url(img/FOTO7.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInUpBig
                      a.gallery-images(href="img/img05.jpg")
                        .photo-gallery(style="background: url(img/FOTO8.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInLeftBig
                      a.gallery-images(href="img/img06.jpg")
                        .photo-gallery(style="background: url(img/FOTO9.jpg);")
              a.left.carousel-control(href="#wedding-photo", data-slide="prev")
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(href="#wedding-photo", data-slide="next")
                span.glyphicon.glyphicon-chevron-right
    // end:photos
    // begin:story
    section#story
      .container
        .row
          .col-md-12
            h2 La historia
            ul.content
              li
                h3.content-avatar.avatar-top
                  .img-avatar(style="background: url(img/FOTO11.jpg);")
                ul
                  // begin:content-text
                  li.content-item.content-text
                    h3 Lore :"&#62;
                    .text
                      |  ¿Cómo nos conocimos? Eso es fácil, en la Javierada, una peregrinación que se hace todos los años al castillo de San Francisco Javier en Navarra. En el bus, Pedro la estaba liando(como siempre) porque se le salió la coca-cola de una botella que llevaba en la mochila y empezó a sacar libros empapados mientras maldecía abiertamente!Al principio no me salió otra cosa que reírme pero luego al ir a ver si podía ayudarle fue cuando hablamos por primera vez.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 8 de marzo del 2009
                  // end:content-text
                  // begin:content-photo
                  li.content-item.content-photo
                    img(src="img/FOTO12.JPG", alt="siempre juntos")
                    h3 Pedro :"&#62;
                    .text
                      | ¿Cómo empezamos a salir? Como caballero que soy, después de varias semanas de escribirnos por whatsapp,  mensajes y vernos alguna que otra vez más en quedadas comunes después de la Javierada, invité a Lorena a un musical "Fiebre del sábado noche" y cuando le acompañé a casa, me decidí a pedirle que fuéramos algo más, a lo que la muy cabrita me contestó: "Podemos intentarlo". Lo tomamos como un Sí.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 26 de Abril del 2009
                  // end:content-photo
                  // begin:content-photo
                  li.content-item.content-photo
                    img(src="img/FOTO13.JPG")
                    h3 Lore :"&#62;
                    .text
                      | ¡Me voy a London! Pues eso, el título lo dice todo. Visto que aquí en España sólo curraba 5 meses al año como mucho por suplencias, después de mucho pensarlo, y cuando ya llevábamos 5 años de relación, decidí que necesitaba avanzar y que quería currar todo el año, que si no, no había manera de independizarse ni de ir hacia delante, así que para Londres que me fuí (a un hospital en el que al principio ni sacar sangre me dejaban, pero en el que me he hecho querer y estoy consiguiendo lo que quiero poco a poco). Lo difícil, que estamos separados.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 23 Noviembre del 2013
                  // end:content-photo
                  // begin:content-chat
                  li.content-item.content-photo
                    img(src="img/FOTO14.jpg")
                    h3 Pedro :"&#62;
                    .text
                      |  La pedida. Engañando a Lorena un día que estaba en Madrid por sus vacaciones, nos fuimos a Navarra para seguir con la tradición de ir una vez al año al castillo de San Francisco Javier. La cuestión es, que después de llegar allí, como ya eran las 8 de la noche, la entrada estaba cerrada, y no pudimos ver al "Cristo sonriente" que tanto nos gusta, así que paseamos un poco por los alrededores mientras atardecía. Cuando estuvimos de nuevo en la explanada, le dije que no se preocupara que al día siguiente entraríamos a verLe, que además sonreía más que nunca, se giró extrañada mientras me arrodillaba y le pedía matrimonio, se puso a llorar como loca y efectivamente el Cristo debía estar contento porque dijo que SÍ.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 29 de Agosto de 2014
                  // end:content-chat
              li.content-end
                h3.content-avatar.avatar-end
                  .img-avatar(style="background: url(img/FOTO15.JPG);")
    // end:story

    // begin:contact
    section#contact
      .container
        .row
          .col-md-12
            h2 Lista de Boda
            .contact-container
              .row
                form
                  .text
                    |Lo primero que queremos que quede claro, es que sabemos que no está la situación para tirar cohetes (aunque eso a Pedro le encante), y que lo que más nos importa es que podáis estar con nosotros el día de la boda, que por eso os hemos invitado, porque sois la gente con la que nos apetece compartir algo tan importante y los que de verdad os alegráis de nuestro enlace.
                    |Como ya sabéis, lo más probable es que vayamos a vivir a Londres por motivos laborales, así que como seguramente vayamos a una casa amueblada y de alquiler, nuestra lista de boda es bien simple, cada uno que aporte según su situación económica y sus posibilidades lo que pueda o quiera para ayudar a nuestra luna de miel (¡¡¡qué mejor manera de regalar algo a los novios!!!) y para que podamos empezar nuestra vida juntos.
                    |Vamos, que resumiendo, ya tenemos pensado el Ferrari, la mansión y el velero y lo único que nos falta es el dinero.
                    |Nuestro número de cuenta común en el que podréis hacer los ingresos/transferencias es el siguiente:
                  b IBAN / Número de cuenta ES03 1465 0140 87 2038073223
                  .text
                    |Muchísimas gracias a todos de antemano y esperamos que disfrutéis como niños el día de la boda, que es lo que queremos.
            h5
              span ~ Gracias ~
    // end:contact

    // begin:contact
    section#contact(style="background:currentcolor")
      .container
        .row
          .col-md-12
            h2 Contacto
            .phone
              | Lorena: 649006220
              | Pedro: 645624544
            .contact-container
              .row
                .col-md-6.col-sm-6
                  textarea#form_subject.form-control.no-resize(rows="7", name="subject", placeholder="Mensaje", style="color:blue")
                // break
                .col-md-6.col-sm-6
                  input#form_name.form-control(type="text", name='name', placeholder="Nombre", style="color:blue")
                  input#form_mail.form-control(type="email", name='mail', placeholder="Email", style="color:blue")
                  button#sendForm.btn.btn-lg.btn-green Enviar
    // end:contact
    // begin:copyright
    section#copyright
      .container
        .row
          .col-md-12
            h2 Lorena &#38; Pedro
        .row
          .col-md-12
            ul.list-inline.social-icon
              li
                a.icon-twitter(href="#", rel="tooltip", title="Twitter", data-placement="top")
                  i.fa.fa-twitter
              li
                a.icon-facebook(href="#", rel="tooltip", title="Facebook", data-placement="top")
                  i.fa.fa-facebook-square
              li
                a.icon-google(href="#", rel="tooltip", title="Google Plus", data-placement="top")
                  i.fa.fa-google-plus
              li
                a.icon-instagram(href="#", rel="tooltip", title="Instagram", data-placement="top")
                  i.fa.fa-instagram
        .row
          .col-md-12
            p
              | Invitación de boda de Lorena &#38; Pedro
              i.fa.fa-heart-o
              | by
              a(href="http://cybermarkus1.github.io/", target="_blank") Marco Antonio Pajares Silva
            p Copyright &#169; 2015 All Right Reserved.
    // end:copyright
    //
       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src="js/jquery.js")
    script(src="js/bootstrap.js")
    script(src="js/jquery.colorbox.js")
    script(src="js/jquery.easing.js")
    script(src="js/script.js")
